<script src="../routes/views.routes.js"></script>
<link rel="stylesheet" href="css/estiles.css">
<script src="/js/realTimeProducts.js"></script>


  <h1>Carrito de Compras</h1>


{{#each carritoProductos}}
  <div class="producto">
    <p>{{this.tittle}} - {{this.price}}</p>
  </div>
{{/each}}
  
  <button type="submit">Comprar</button>
</form>
