<h1>Restaurar Contraseña</h1>
<p style="color:red">{{error}}</p>

<p>Ingresar correo y contraseña nueva</p>
<form  method="post" action="/api/sessions/changePass">

    <input type="email" placeholder="correo" name="email"><br/><br/>
    <input type="password" placeholder="nuevacontraseña" name="newPassword"><br/><br/>
    <button>Restaurar</button>
</form>