<h1>Olvidaste tu Contraseña</h1>
<p>Ingresa un correo para enviarte un enlace para cambiar tu contraseña</p>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="Correo Electronico" name="email"><br/>
    <button>Recibir correo</button>
</form>