<h1>Fomulario Login</h1>
<form action="/cookieform" method="post">
    <input type="text" placeholder="nombre" name="first_name"/>
    <br/><br/>
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <button>Enviar </button>
</form>
<hr/>   
<a href="/leercookies">Leer cookies</a>