
<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/realTimeProducts.js"></script>



<form   id="form-Product" class="form-Prod">
    <h2 class="cargarProd">Cargar Producto</h2>
    <input   name="tittle" id="tittle" placeholder="Ingrese Nombre del Producto" required><br/>
    <input type="text" name="description" id="description" placeholder="Ingrese description" required><br/>
    <input  type="number" name="stock" id="stock" placeholder="Ingrese su stock" required><br/>
   <input  type="text" name="thumbnail" id="thumbnail" placeholder="Ingrese su imagen url" required><br/>
    <input type="text" name="category" id="category" placeholder="Ingrese categoria" required><br/>
    <input  type="number" name="price" id="price" placeholder="Ingrese su precio" required><br/>
   <input  type="text" name="code" id="code" placeholder="Ingrese su code" required><br/><br/>
    <button type="submit" id="add-btn" >Registrar </button>
    <h2 class="h2del"> Eliminar Producto:</h2>
    <input  type="number" name="id-prod" id="id-prod" placeholder="Ingrese ID" ><br/><br/>
   <button  type="button" id="delete-btn">
    Eliminar</button>
    

  </form>
<h2 class="h2">Lista de Productos Actualizados</h2>
<article class="main__contenedor"  id="list-products">
</article>

<div>  
      <h3 class ="carrito">Carrito de compras</h3>  
      <table id= "lista-carrito" class="table">
        <thead>
          <tr>
             <th>Imagen</th>
             <th>Nombre</th>
             <th>Precio</th>
             <th>Cantidad</th>
          </tr>
        </thead>
     </table>
      
</div>

    

<div class="py-lg-4 py-3 mt-4 conteinerProducto"></div>

    <article class="row py-lg-4 py-3 tarj_tot">
      <div class="div_tot">
          <p class= "item-total mb-0 "  >TOTAL</p>
          <div class="tarjTotal"></div>
          <button class="item btn btn-light botonFinCompra"  type="button">COMPRAR</button>
      </div>
    </article>
    <article class="conteinershow"></article>
     <br>
  


