<h1>Cambiar tu contraseña</h1>

<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="password" placeholder="Nueva Contraseña" name="newPassword"/>
    <button>Restablecer contraseña</button>
</form>