* {
    box-sizing: border-box;
    }
    
    .btn-ingreseId{
        margin-top: 10px;
        height: 30px;
        width: 150px;
        margin-right: 30px;
    }
    .btn-EliminarId{
       
        height: 30px;
        width: 150px;
    }

    .h2del{
        margin-top: 2rem;
        font-size: 2rem ;
           font-family: italic;
           padding: 10px 0;
           color: rgb(35, 26, 26);
           position: relative;
           word-spacing: 20px;
           letter-spacing: 5px;
           text-align: center;

    }
    .h3signup{
      height: 1cm;

    }
    .button_addCart{
         width: 100px;
         height: 25px;
    }
    .main__contenedor {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        padding: 20px;
        gap: 1em;
        margin-top: 3rem;
        box-sizing:border-box;
        border-radius: 1%;
        background-color:rgb(235, 226, 226) ;
       
        }
        .main__contenedorProd {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-auto-rows: minmax(200px, auto);
            padding: 20px;
            gap: 1em;
            margin-top: 3rem;
            box-sizing:border-box;
            border-radius: 1%;
            background-color:rgb(235, 226, 226) ;
           
            }
     .main__price {
         display: flex;
         flex-direction: row;
         align-content: flex-start;
         align-items: flex-end;
         flex-wrap: wrap;
    
     }   
    
       .contenedor__resp {
      
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
            margin-right: auto;
            margin-left: auto;
            
          }
    
    /*clase de elemento*/
    .carrito{
        display: flex;
        flex-direction:row;
        text-align: center;
        justify-content: center;
        font-size: 2.5em;
        margin: 10px 0;
        color: #ae4c56a8;
    
    }
    h6 {
        font-size: 1rem;
        color:rgb(223, 24, 24);
        font-family: 'Bitter', serif;
        text-align: center;
    
    }
    
    .promosGafas {
        min-width: 170px;
        min-height: 75px;
        border: 1px;
       
        border-radius: 3px;
        margin-top: 3rem;
    }
    .contenedorPromo {
        min-width: 175px;
        min-height: 75px;
        background-color: #cd8c92;
        border: 1px;margin-top: 3rem;
        align-items: center;
    
    
    }
    .table__promo{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        ;
    }
    
    .trpromo {
        font-size: 1.4rem;
        color:rgb(236, 37, 37);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    .butProm {
        border:1px;
        border-radius: 2px;
        position: relative;
        bottom: 12px;
        left: 570px;
    
    
    }
    .pProm {
        text-align: center;
        font-size:2rem;
    
    
    }
    
    .item-card-img-top {
        margin-left: 0rem;
    }
    
    
    
    .main__div{
        display: flex;
        flex-direction:row
    
    }
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        position: relative;
        bottom: 0px;
        left: 150px;
    }
    
    .item-precio {
        margin-left: 17rem;
    }
    
    .item-cardQtyInput {
        margin-left: 13rem;
    
    }  
    .cart-item-title {
        margin-left: 10rem;
    
    } 
    
    .tarj {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        height: 150px;
        width: 100%;
        border:5px;
    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border:double 4px;
        background-color: #e1e1eb;
    
    }
    .tarj_tot {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }
    
    .botonFinCompra{
        display:position;
        position:relative;
        left: 170px;
        top: -35px;
    }
    
    .item-card{
        margin-bottom: auto;
    }
    
    .item-card_carro {
        margin-bottom: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-end;
        border: double 4px;
    }
    
    .div_tot {
        display:position;
        position: relative;
        left: 90px;
    }
    .row {
        margin-left: 70px;
        margin-top: 50px;
    }
    
    .phill {
        display: flex;
        flex-direction: row;
    }
    .formulario1{
        max-width: 25em;
        padding: 1.3em;
        margin: 0 auto;
        background-color: rgba(85, 85, 87, 0.3);
        font-weight: bold;
        border-radius: 0.5em;
        box-shadow: inset 1px 1px 22px 4px;

        
    }
    
    body {
        background-image:url("../image/pizzarosso.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    /*img {
        display: block;
        width: 100%;
    }*/
    .main-header {
        padding: 0 20px;
    }
    .main-header__title {
        text-align: center;
        font-size: 4.5em;
        margin: 10px 0;
        color: #bd2130a8;
        font-family: 'Poppins', sans-serif;
    }
    .main-nav {
        display: none;
    }
    .main-header__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .icon-menu {
        font-size: 1.5em;
        border: 1px solid #454546;
        display: block;
        padding: 10px 20px;
    }
    .main-header__btn {
        font-size: 1.5em;
        border: 1px solid #454546;
        display: block;
        padding: 10px 25px;
        color: #454546;
        text-decoration: none;
        z-index: 999;
    }
    .main-header__input{
        display: block;
        padding: 10px;
    }
    .slider__content {
        position: absolute;
        top: 50%;
        left: 50%;
        color:rgb(165, 32, 32);
        padding: 10px;
        transform: translate(-50%, -50%);
        text-decoration: none;
    }
    .slider__link {
        display: block;
        border: 1px solid black;
        color: rgb(165, 32, 32);
        padding: 10px;
        text-align: center;
        text-decoration: none;
        width: 150px;
        margin: 10px auto;
    }
    
    .slider__title {
        font-size: 2.2em;
        margin: 0;
    }
    
    .slider__text {
        font-size: 1em;
        margin: 5px 0;
    }
    
    .main__p1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        text-align: center;
        word-spacing: 1rem;
      
    }
    .main__contenedor {
        width: 100%;
        padding: 20px;
        gap: 1em;
        margin-top: 3rem;
        box-sizing: border-box;
    }
     
        .main__price {
         display: flex;
         flex-direction: row;
         align-content: flex-start;
         align-items: flex-end;
         flex-wrap: wrap;
    
     }   
    
       .contenedor__resp {
      
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
            margin-right: auto;
            margin-left: auto;
            
          }
    
        /*.main__pad{
            padding: 50px 0;
            position: relative;*/
    
        
    
        .main__pad2 {
            position: relative;
        }
    
        .main__pad2::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position:absolute;
            background: rgba(20, 17, 17, 0.5);
            top: 0;
            left: 0;
            z-index: -1;}
    
        .three-columns__conteiner {
                width: 300px;
                height: 380px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: double 2px #00000045;  
                gap: 1em;
                padding: 10px 10px;
                flex-direction: column;      
        } 
        .main-galeria__price {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: column;
        } 
        .newcart {
        color: rgb(17, 10, 10);
        right: -100px;
        position: relative;
        width: 79px;
        font-size: 25px;
        height: 29px;
        /* text-align: center; */
        /* line-height: 2.3; */
        bottom: 314px;
        letter-spacing: 7px;
        background-color: #80808082;
        -webkit-transform: rotate(270deg);
        transition: background-color, whidth 2s;
        transition-duration: 3s;
    }
       .main-galeria__price:hover .newcart {
           width: 120px;
           background-color: beige}
       
       
    /*CONTEINER TESTIMONIOS*/
    
    .conteiner__testimonios {
        width: auto;
        height: 380px;
        background-color: rgb(163, 148, 148);
    
    }
    .testimonios {
        font-size: 3rem;
        font-family: italic;
        text-align: center;
    }
    /*.main__testimonios {
        box-sizing: border-box;
        -moz-box-align: center;
        display: flex;
        flex-direction: column;
      align-items: center;
        margin-top: 3rem;}
    */
    .main-p__test {
        width: 600px;
        box-sizing: border-box;
        margin: 0 20px;
    
    }
    /*copy*/
    .testimonials_grid {
        margin: 0 auto;
        width: 60%;
    }
    .text-center {
        text-align: center !important;
    }
    
    
    .testimonial {
        background: #f7f7f7;
    }
    .pb-3, .py-3 {
        padding-bottom: 1rem !important;
    }
    .pt-3, .py-3 {
        padding-top: 1rem !important;
    }
    .mt-4, .my-4 {
        margin-top: 1.5rem !important;
            background-color: rgb(0 0 0 / 8%);
    }
    h3.tittle-w3layouts {
        color: #353434;
        font-size: 3em;
        text-align: left;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 2px 12px rgb(0 0 0 / 14%);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .testimonials_grid label {
        font-size: 1em;
        letter-spacing: 1px;
        color: #ff4e00;
    }
    .banner {
        display: flex;
        margin: 80px 20px ;    
    }
    .img__banner1 {
        box-sizing: content-box;
        padding: 0 80px;
        background: -webkit-linear-gradient(
        -45deg, #000 0%, #fff 100%);
            background: linear-gradient(
        -45deg, #000 0%, #fff 100%);
    }
    
    .container-fluido {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        flex-wrap: nowrap;
        background-color: rgb(46, 44, 44); 
        color: rgb(110, 106, 106);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 4px ;
       
    
    }
    .footer__h4 {
        color: orangered;
        font-size: 1.1rem;
       
    }
    .footer__h3a {
        color:#dae0e5db;
        font-family: 'Inconsolata', monospace;
        font-size: 1.8rem;
        
    
    }
    .footer__h3 {
        font-weight: bolder;
    }
    
       
    
    
    @media screen and (max-width: 780px){
        .banner {
            display: flex;
            flex-direction: column; 
             }  
    
    .img__banner1 {
        box-sizing: content-box;
        padding: 10px 0;
        background: none;
    }
    .simply-section {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem; 
        margin: 0 10px;
        width: 100%; 
    }
    }
       
    
          
    
    
    @media (max-width: 991px){
    h3.tittle-w3layouts {
        font-size: 2.6em;
     } 
    } 
    
    
    